@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

.App {
  background: url('./assets/images/background.jpg') #f5f5f5;
  background-attachment: fixed;
  background-repeat: repeat;
  min-height: 100vh;
  font-family: 'Chakra Petch', sans-serif;
}